body {
  font-family: Arial, sans-serif;
  background: #e8f1f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

#lobby-form {
  margin-top: 80px;
}

form input, form button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

#player-hand, #discard-pile, #draw-pile {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 80px;
  margin: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
